#FoldFive {
  // border-bottom: 3px solid blue;
  border-top: 3px solid black;
  height: 600px;
  width: 100%;
  display: block;
  transform: skewY(6deg);
  background: black;
  z-index: 0;
  opacity: 1;
  -webkit-box-shadow: -7px -9px 74px 2px LIGHTGOLDENRODYELLOW;
  -moz-box-shadow: -7px -9px 74px 2px LIGHTGOLDENRODYELLOW;
  box-shadow: -7px -9px 74px 2px LIGHTGOLDENRODYELLOW;
  .content {
    position: absolute;
    border: 3px solid black;
    width: 95%;
    height: 86%;
    margin: 6% 2.5% 0 2.5%;
    color: white;
    font-family: 'Inconsolata', monospace;
    transform: skewY(-6deg);
    .anchor5 {
      width: 5px;
      height: 5px;
      margin: -170px auto 150px auto;
    }
    h3 {
      text-decoration: underline;
      font-size: 150%;
    }
  }
}
