@media only screen and (max-width: 1600px) {
  h3 {
      font-size: 1vw;
  }
}


@media only screen and (max-width: 1130px) {
  body {
    // background: blue;
  }
  .prolink {
    font-size: 12px;
  }
  #FoldTwo {
    height: 1400px;
  }
  .project {
    height: 16%;
  }
  .preview {
    h3 {
      max-width: 20%;
    }
  }
}

@media only screen and (max-width: 1130px) {
  .prolink {
    font-size: 10px;
  }
  .project {
    margin: 0.5% auto;
    h3 {
      margin: 0;
      max-width: 20%;
      position: fixed;
      margin-top: 5px;
    }
  }
  .left {
    left: 0px;
    margin: 0 0 0 10px;
    float: left;
  }
  .right {
    // right: 15px;
    // margin: 0 0;
    h3 {
      // position: relative;
      padding-left: 230px;
      float: right;
    }
  }
}

@media only screen and (max-width: 1018px) {

  // body {
  //   background: red;
  // }
  #FoldTwo {
    .proLinks {
    margin-left: 6px !important;
    margin-right: 6px !important;
    margin-bottom: 6px !important;
    }
  }
}

@media only screen and (max-width: 950px) {

    body {
        background-color: blue;
    }
    h3 {
      color: red;
    }
    #FoldTwo {
      height: 1800px !important;
      .project {
        height: 10% !important;
        width: 80% !important;
        margin: 5px auto !important;
        float: none !important;
        .left, .right {
          float: none !important;
        }
      }
    }
}


// @media only screen and (max-width: 1600px) {
//     body {
//         background-color: red;
//     }
//     h3 {
//       color: red;
//     }
// }
